# dependencies
**/node_modules/**

# testing
packages/**/coverage/**
packages/**/test/reports/**

# production
packages/**/build/**
packages/database/rules.json

# other
.circleci/**
types/**
resources/**
secrets/**
