# dependencies
**/node_modules/**

# testing
packages/**/coverage/**
packages/**/test/reports/**

# production
build/
packages/client/web/build/

# other
.circleci/**
types/**
resources/**
secrets/**
