{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": "off",
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  }
}
