{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  }
}
