# dependencies
**/node_modules/**

# testing
packages/*/coverage/**
packages/frontend/test/reports/**

# production
packages/*/build/**
packages/backend/index.js

# other
.circleci/**
flow-typed/**
resources/**
secrets/**
